{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="150" height="150">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom md-4">Profile info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Update</button>
          </div>
      </form>
    </div>

<!--    <div class="content-section">-->

<!--&lt;!&ndash;          <h2 class="account-heading">{{user.username}}</h2>&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="text-secondary">{{user.profile.bio}}</p>&ndash;&gt;-->
<!--            <div class="page-content">-->
<!--                    &lt;!&ndash; BEGIN BREADCRUMBS &ndash;&gt;-->
<!--                    <div class="breadcrumbs breadcrumbsRibbon">-->
<!--                        <div class="col-sm-8">-->
<!--                            <div class="mt-element-ribbon bg-grey-steel">-->
<!--                                <div class="ribbon ribbon-vertical-left ribbon-border-vert ribbon-color-success uppercase">-->
<!--                                    <i class="fa fa-user"></i>-->
<!--                                </div>-->
<!--                                <h2 class="ribbon-content">CANDIDATE PROFILE</h2>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-4">-->
<!--                            <ol class="breadcrumb">-->
<!--                                <li>-->
<!--                                    <a href="#">Home</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">Profile</a>-->
<!--                                </li>-->
<!--                            </ol>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; END BREADCRUMBS &ndash;&gt;-->
<!--                    &lt;!&ndash; BEGIN SIDEBAR CONTENT LAYOUT &ndash;&gt;-->
<!--                    <div class="page-content-container">-->
<!--                        <div class="page-content-row">-->
<!--                            <div class="page-content-col">-->
<!--                                &lt;!&ndash; BEGIN PAGE BASE CONTENT &ndash;&gt;-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-12">-->
<!--                                        &lt;!&ndash; BEGIN PROFILE SIDEBAR &ndash;&gt;-->
<!--                                        <div class="profile-sidebar">-->
<!--                                            &lt;!&ndash; PORTLET MAIN &ndash;&gt;-->
<!--                                            <div class="portlet light profile-sidebar-portlet bordered">-->
<!--                                                &lt;!&ndash; SIDEBAR USERPIC &ndash;&gt;-->
<!--                                                <div class="media">-->
<!--                                                <img class="rounded-circle account-img" src="{{user.profile.image.url}}" width="200" height="150">-->
<!--                                                <div class="media-body">-->
<!--                                                &lt;!&ndash; END SIDEBAR USERPIC &ndash;&gt;-->
<!--                                                &lt;!&ndash; SIDEBAR USER TITLE &ndash;&gt;-->
<!--                                                <div class="profile-usertitle">-->
<!--                                                    <div class="profile-usertitle-name"> {{user.username}} </div>-->
<!--                                                    <div class="profile-usertitle-job"> BS Computer Engineering </div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; END SIDEBAR USER TITLE &ndash;&gt;-->
<!--                                                &lt;!&ndash; SIDEBAR MENU &ndash;&gt;-->
<!--                                                <div class="profile-usermenu">-->
<!--                                                    <ul class="nav">-->
<!--                                                        <li class="active">-->
<!--                                                            <a href="page_user_profile_1">-->
<!--                                                            <i class="icon-home"></i> Profile Overview </a>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="profileEdit">-->
<!--                                                            <i class="icon-settings"></i> Profile Settings </a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; END MENU &ndash;&gt;-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; END PORTLET MAIN &ndash;&gt;-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; END BEGIN PROFILE SIDEBAR &ndash;&gt;-->
<!--                                        &lt;!&ndash; BEGIN PROFILE CONTENT &ndash;&gt;-->
<!--                                        <div class="profile-content profilePage">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-md-12">-->
<!--                                                    <div class="portlet light bordered">-->
<!--                                                        <div class="portlet-title">-->
<!--                                                            <div class="caption">-->
<!--                                                                <i class="fa fa-user-plus" style="color: #4cb7b6;margin-top: 2px;"></i>-->
<!--                                                                <span class="caption-subject font-green-haze bold uppercase">User Profile Overview</span>-->
<!--                                                            </div>-->
<!--                                                            <div class="tools">-->
<!--                                                                <a href="" class="collapse" data-original-title="" title=""> </a>-->
<!--                                                                <a href="profileEdit" class="config" data-original-title="" title="Edit"> </a>-->
<!--                                                                <a href="" class="reload" data-original-title="" title=""> </a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="portlet-body form" style="display: block;">-->
<!--                                                            &lt;!&ndash; BEGIN FORM&ndash;&gt;-->
<!--                                                            <form class="form-horizontal" role="form">-->
<!--                                                                <div class="form-body">-->
<!--                                                                    <h2 class="margin-bottom-20"> User Info - Mustafa Naeem </h2>-->
<!--                                                                    <h3 class="form-section">Person Info</h3>-->
<!--                                                                    <div class="row">-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">First Name:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> {{user.profile.first_name}} </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">Last Name:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> {{user.profile.last_name}} </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                    </div>-->
<!--                                                                    &lt;!&ndash;/row&ndash;&gt;-->
<!--                                                                    <div class="row">-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">Gender:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> Male </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">Date of Birth:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> {{ user.profile.birth_date}} </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                    </div>-->
<!--                                                                    &lt;!&ndash;/row&ndash;&gt;-->
<!--                                                                    <div class="row">-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">Education:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> Graduation </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">University:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> SSUET </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                    </div>-->
<!--                                                                    &lt;!&ndash;/row&ndash;&gt;-->
<!--                                                                    <h3 class="form-section">Address</h3>-->
<!--                                                                    <div class="row">-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">Address:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> Block 10 - A, Gulshan-e-Iqbal </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                    <div class="row">-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">City:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> {{user.profile.location}} </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                        <div class="col-md-6">-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <label class="control-label col-md-3">Post Code:</label>-->
<!--                                                                                <div class="col-md-9">-->
<!--                                                                                    <p class="form-control-static"> 457890 </p>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                        &lt;!&ndash;/span&ndash;&gt;-->
<!--                                                                    </div>-->
<!--                                                                    &lt;!&ndash;/row&ndash;&gt;-->
<!--                                                                </div>-->
<!--                                                                <div class="form-actions">-->
<!--                                                                    <div class="row">-->
<!--                                                                        <div class="col-md-12">-->
<!--                                                                            <div class="row">-->
<!--                                                                                <div class="col-md-12">-->
<!--                                                                                    <a href="../profileEdit" type="submit" class="btn green" style="float:right;">-->
<!--                                                                                        <i class="fa fa-pencil"></i> Edit-->
<!--                                                                                    </a>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </form>-->
<!--                                                            &lt;!&ndash; END FORM&ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; END PROFILE CONTENT &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; END PAGE BASE CONTENT &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; END SIDEBAR CONTENT LAYOUT &ndash;&gt;-->
<!--                </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; FORM HERE &ndash;&gt;-->
<!--    </div>-->



{% endblock content %}